#colageBg {
	background-image: url(image/bg.jpg);
    padding-left:0px;
    padding-right: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 33.33%;
    overflow-y: none;
}
#captionBody {
    padding-bottom: 5px;
    padding-right: 10px;
    margin-right: 10px;
}
#caption {
    background-color: #000;
    text-align: left;
}
#menu {
    display: none;
    background-color: darkgray;
    width: 100%;
    opacity: .7;
    height: 100%;
}
#profilePic {
    width: 80%;
    margin-top: 10%
}
#navBtn {
    color: white;
    font-size: 25px;
    border: none;
}
#navBtn:hover, #navBtn:active, #navBtn:visited, #navBtn:focus {
    text-decoration: none;
    border: none; 
}
#menuBody {
    background-color: darkslategray;
    width: 100%;
    text-align: center;
    height: 200px;
    padding-top: 60px;
    position: absolute;
    top: 31.5%;
}
#close, #close2 {
    padding-top: 35px
}

#smallMenuOpen {
    background: none;
    border: solid white 2px;
    border-bottom-style: none;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}
#smallMenuOpen:active, #smallMenuOpen:hover, #smallMenuOpen:focused {
    text-decoration: none;
}
#bio {
    padding-right: 10px;
}
#smallDvcMenu {
    background-color:lightgray;
    background-size: cover;
    height: 20%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right:0px;
    display: none;
    padding: 10px;
}
#smallMenuClose {
    padding-right: 10px;
    padding-top: 10px;
    color: black;
}
#smallMenuBody {
    opacity: .7;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
#smallMenuNav {
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right:5px;
    width: 100%;
    text-align: center;
}
#navBtnXs {
    color: black;
    font-size: 15.28px;
    border: none;
    font-weight: bold;
}
#navBtnXs:hover, #navBtnXs:active, #navBtnXs:visited, #navBtnXs:focus {
    text-decoration: none;
    border: none; 
}
#close2 {
    display: none;
}
#logoSmall {
    width: 20%;
}
/*media quaries section*/
@media (max-width:479px) {
    #colageBg, #close, #close2 {
        display: none;
    }
    #profilePic{ width: 100%;}
    #body{background-color: black}
}
/*mobile section and conditional items*/
@media (min-width: 480px) and (max-width: 767px){
    #colageBg, #close, #close2 {
        display: none;
    }
    #profilePic{ width: 100%;}
    #body{background-color: black}
}
@media (min-width: 768px){
    #smallMenuOpen, #smallDvcMenu, #logoSmall{
        display: none;
    }
    #caption {
    background-color: #000;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: none;
    z-index: 1001;
}
}
