#sidebar {
    background-color: #000;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 05px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1001;
}
#gallarySection {
    padding-left:0px;
    padding-right: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 33.33%;
    overflow-y: none;
    background-color: aqua;
}
#profilePic {
    width:80%
}
#closeSidebar {
    font-weight: bold;
}
#menu {
    height: 50px;
    display: none;
    border-radius: 0px;
    margin: 0px;
}
#openMenu {
    border: solid 2.5px black;
    border-top-style: none;
    border-radius: 0px 0px 3px 3px;
    right: 30px;
    top: 0px;
    position: fixed;
}
#menuItem {
    text-align: center;
}
#navBtnXs {
    
}
/*conditionl items disply*/
@media (max-width:767px) {
    #sidebar, #openMenu {
        display: none;
    }
    #gallarySection {
        left: 0;
        width: 100%;
    }
}